#input{
  width: 20%;
  height: 3.7vh;
  border: 1px solid;
  outline: none;
  border-radius: 4px;
}
#button{
border: 1px solid ;
padding: 8px;
border-radius: 50%;
color: antiquewhite;
background:red;
}
h2{
 text-align: center;
}
#div{
 align-items: center;

}
#flex{
  display: flex;
  align-items: center;
  justify-content: center;
}
#map{
  font-size: small;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: brown;
}
#val
{
  display: flex;
  flex-direction: column;
}